@use "./variables";

@mixin wrapper {
  width: min(72rem, 100%);
  margin-inline: auto;
}

@mixin wrapperSection {
  width: min(72rem, 100%);
  margin-inline: auto;
  padding: 120px 1.5625rem;

  @media (max-width: 740px) {
    padding: 72px 24px;
  }

  h2 {
    font-size: 1.75rem;
    text-transform: uppercase;
    color: variables.$blue-600;
    margin-bottom: 21px;

    @media (max-width: 740px) {
      font-size: 1.5rem;
    }
  }

  h3 {
    font-size: 2.5rem;
    color: variables.$blue-text-h3;
    margin-bottom: 70px;

    @media (max-width: 740px) {
      font-size: 2rem;
    }
  }

  h2,
  h3 {
    text-align: center;
    font-weight: 700;
  }
}

@mixin notebook {
  @media (max-width: 1110px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 740px) {
    @content;
  }
}
