$white: #ffff;
$white-100: #fafafa;
$white-200: #f5f5f5;
$white-300: #f9f9f9;

$blue-100: #f0f9ff;
$blue-300: #d0ebff;
$blue-600: #1971c2;
$blue-700: #333746;
$blue-card-text: #495057;
$blue-text-h2: #000e18;

$black: #0a0a0a;
