@use "../base/variables";
@use "../base/mixins";

#testimonial {
  background-color: variables.$white;

  .wrapper {
    @include mixins.wrapperSection;

    .swiper {
      padding-bottom: 55px;
      .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: variables.$blue-100;
        border-radius: 16px;
        padding: 32px;
        height: 420px;

        &-image {
          width: 130px;
          height: 130px;
          border-radius: 65px;
          border: solid 8px variables.$blue-600;
          margin-bottom: 10px;
        }

        &-title {
          font-size: 1rem;
          font-weight: 700;
          color: variables.$blue-600;
        }

        &-description {
          font-size: 1rem;
          font-weight: 400;
          color: variables.$blue-card-text;
          margin-top: 20px;
          line-height: 150%;
        }
      }
    }

    .swiper-pagination {
      top: 450px !important;
    }
  }
}
